*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: row; /* Cambia la dirección de los elementos hijos a fila */
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    
}
.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-weight: 800;
    
}