*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-1{

    background-color: #320049;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}

.card{
    width: 50px;
    height: 50px;
    background-color: #580181;
}

nav{
    display: flex;
    justify-content: center;
    background-color: black;
}
.links{
    font-size: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: aqua;
}

