*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    border:none;
    text-decoration:none ;

}

body{
    background-color: black;
}
.centrado{
    display: flex;
    justify-content: center;
    align-items:center ;
}


.centrado div{
width: 200px;
height:200px;
font-size: 10px;
color:white;
background-color: rgba(255, 137,156);
}


@media(max-width:768px){ 
 .body{
    background-color: red;
 }
.centrado{
    flex-direction: column;
}
}